body {
    background-color: lightgray;
    height : 100vh;
}

.btn_consult_users, .btn_valider_user, .btn_edit_user {
    border : 2px solid #34EB67;
    margin-top : 20px;
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
}


.btn_delete_user:hover, .btn_consult_users:hover, .btn_edit_user:hover {
    color: #404040;
    background : none;
    border : 1px solid black;
}

div#edit_user_form {

    display:flex;
    align-items: center;
    flex-direction : column;
    justify-content : center;
    height : 100vh;
    
    }
    
    div#container {
        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
        padding : 15px 40px;
        display : flex;
        align-items : center;
        flex-direction: column;
        
    }
    form {
        display : flex;
        align-items : center;
        flex-direction : column;
    }
    
    div#user{
        display : grid;
        justify-items : end;
        margin-right : 55px;
    }
    
    input {
        margin-left : 10px;
    }