body {
    background-color: lightgray;
    height : 100vh;
}

.btn_add_user, .btn_edit_user, .btn_infos_user {
    border : 2px solid #34EB67;
    margin-top : 20px;
    border: none;
    background: #404040;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border : 1px solid black;
    margin-left : 10px;
}


.btn_add_user:hover, .btn_edit_user:hover, .btn_infos_user:hover {
    color: #404040;
    background : none;
    border : 1px solid black;
}

.btn_add_user {
    margin-left : 50px;
    margin-right : 50px;
    margin-bottom : 30px;
}

#index_users {
    display : flex;
    flex-direction : column;
    width : 100%;
    padding : 20px;

}

.table-index-users{
    width : 100%;
}