body {
    background-color: lightgray;
    height : 100vh;
}

.btn_add_user, .btn_edit_user, .btn_infos_user {
    border : 2px solid #34EB67;
    margin-top : 20px;
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-left : 50px;
}


.btn_add_user:hover, .btn_edit_user:hover, .btn_infos_user:hover {
    color: #404040;
    background : none;
    border : 1px solid black;
}

.btn_add_user {
    margin-left : 50px;
    margin-bottom : 30px;
}