body {
    background-color: lightgray;
    height : 100vh;
}

.btn_consult_users, .btn_edit_user, .btn_delete_user {
    border : 2px solid #34EB67;
    margin-top : 20px;
    border: none;
    background: #404040;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border : 1px solid black;
    margin-left : 10px;
}

.btn_consult_users:hover, .btn_edit_user:hover, .btn_delete_user:hover {
    color: #404040;
    background : none;
    border : 1px solid black;
}

#show_user {
    position : relative;
    width: 100%;
    padding : 20px;
}