<div class="modal" id="edit-material-resource-category-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Modifier une catégorie de ressource matérielle</h2>
      </div>
      <form action="{{ path('MaterialResourceCategoryEdit') }}" method="post">
        <div class="modal-body">
            <input type="hidden" name="idcategory" id="idcategory">
            <div>
                <label for='categoryname'> Nom de la catégorie </label>
                <input type='text' name='categoryname' id='categoryname'>
            </div>
            <br>

            <button type="button" class="btn-consult btn-secondary" onclick="window.location.href='{{ path('index_material_resources') }}'">Consulter les ressources</button>
            <button type="submit" class="btn-valide btn-secondary"> Modifier </button>
        </div>
	    </form>
    </div>
  </div>
</div>