{% extends 'base.html.twig' %}

{% block title %}New MaterialResourceCategory{% endblock %}

{% block body %}
    <h1>Create new MaterialResourceCategory</h1>

    {{ include('material_resource_category/_form.html.twig') }}

    <a href="{{ path('app_material_resource_category_index') }}">back to list</a>
{% endblock %}
