{% extends 'base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <h1>Create new Patient</h1>

    {{ include('patient/_form.html.twig') }}

    <a href="{{ path('get_patients') }}">back to list</a>
{% endblock %}
