		<div class="modal" id="add-patient-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Ajouter un patient</h2>
					</div>
					<form action="{{ path('PatientAdd') }}" method="post">
						<div class="modal-body">
							<div class="flex-col">
								<label class="label" for='lastname'>
									Nom
								</label>
								<input class="input" type='text' name='lastname' required="required">
							</div>
							<div class="flex-col">
								<label class="label" for='firstname'>
									Prénom
								</label>
								<input class="input" type='text' name='firstname' required="required">
							</div>
							<br>
                            <button type="button" class="btn-delete btn-secondary" onclick="hideNewModalForm()">Annuler</button>
							<button type="button" class="btn-consult btn-secondary" onclick="window.location.href='{{ path('Patients') }}'">Consulter les patients</button>
							<button type="submit" class="btn-valide btn-secondary">
								Ajouter
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>