<div class="modal" id="infos-patient-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
<h1>Patient</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td id ="patient-id"></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td id ="patient-lastname"></td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td id ="patient-firstname"></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
