
    <div class="dashboard-nav">
        <nav class="dashboard-nav-list">
            <div id="menu-top"> 
                <header>
                    <a href="#!" class="menu-toggle">
                        <i class="fas fa-bars"></i>
                    </a>
                    <a href="#" class="brand-logo">
                        <i class="fas fa-anchor"></i> <span>HOPITAL</span>
                    </a>
                </header>
                <a href="/ConsultationPlanning" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Planning </a>
                <a href="/activities" class="dashboard-nav-item"><i class="fas fa-tachometer-alt"></i> Activités</a>
                <a href="/circuits" class="dashboard-nav-item"><i class="fas fa-tachometer-alt"></i> Parcours</a>
                <a href="/patients" class="dashboard-nav-item"><i class="fas fa-tachometer-alt"></i> Patients</a>
                <a href="#" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Éthique </a>
                <a href="/resources" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Ressources </a>


            <div id='menu-bottom'>
                <div class="nav-item-divider"></div>
                <a href="#" class="dashboard-nav-item"><i class="fas fa-user"></i> Mon profil </a>
                <a href="/consult_users" class="dashboard-nav-item"><i class="fas fa-user"></i> Utilisateurs </a>
                <a href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Se déconnecter </a>
            </div>

          
        </nav>
    </div>

