{% if app.user != null %}

	<div id="menu-button-container">
		<button id="menu-button" class="menu-button" onclick="displayMenu(this)" aria-label="Main Menu">
			<svg width="30" height="30" viewbox="0 0 100 100">
				<path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"/>
				<path class="line line2" d="M 20,50 H 80"/>
				<path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"/>
			</svg>
		</button>
	</div>

	<div id="dashboard-nav" class="dashboard-nav">
		<nav onclick='filterShowUser()' class="dashboard-nav-list">
			<div id="menu-top">
				<header>
					<a id="title" href="/ConsultationPlanning" class="brand-logo">
						<img src="/img/hospital_icon.svg">
						<span>HOSPITOOL</span>
					</a>
				</header>
				<a href="/ConsultationPlanning" class="dashboard-nav-item" id="planning">
					<img src="/img/planning.svg">
					Planning
				</a>
				{% if app.user.roles[1] != 'Visiteur' %}
					<a href="/appointments" class="dashboard-nav-item" id="appointment">
						<img src="/img/appointment.svg">
						Rendez-vous</a>
					<a href="/pathways" class="dashboard-nav-item" id="pathways">
						<img src="/img/pathway.svg">
						Parcours</a>
					<a href="/patients" class="dashboard-nav-item" id="patients">
						<img src="/img/patient.svg">
						Patients</a>
					<a href="/ethics" class="dashboard-nav-item" id="ethics">
						<img src="/img/ethics.svg">
						Éthique
					</a>
					<a href="/statistics " class="dashboard-nav-item" id="statistics">
						<img src="/img/stats.svg">
						Statistiques
					</a>
					<a href="/tests " class="dashboard-nav-item" id="tests">
						<img src="/img/tests.svg">
						Simulations
					</a>
					<a href="/human-resources" class="dashboard-nav-item" id="human-resources">
						<img src="/img/human_ressource.svg">
						Ressources humaines</a>
					<a href="/material-resources" class="dashboard-nav-item" id="material-resources">
						<img src="/img/material_resource.svg">
						Ressources matérielles
					</a>
				</div>
			{% endif %}
			<div id='menu-bottom'>
				<div class="nav-item-divider"></div>
				{% if app.user.roles[1] =='Admin' %}
					<a href="/settings" class="dashboard-nav-item" id="settings">
						<img src="/img/setting.svg">
						Paramètres</a>
					<a href="/user" class="dashboard-nav-item" id="user">
						<img src="/img/user.svg">
						Utilisateurs
					</a>
				{% endif %}
				<a href='/profil' class="dashboard-nav-item">
					<img src="/img/profile.svg">
					Mon profil
				</a>
				<a href="/logout" class="dashboard-nav-item">
					<img src="/img/logout.svg">
					Se déconnecter
				</a>

			</nav>
		</div>


	{% endif %}
