{% if app.user != null %}
	<div class="dashboard-nav">
		<nav onclick='filterShowUser()' class="dashboard-nav-list">
			<div id="menu-top">
				<header>

					<a id="title" href="/ConsultationPlanning" class="brand-logo">
						<img src="/img/hospital_icon.svg">

						<span>HOPITAL</span>
					</a>
				</header>
				<a href="/ConsultationPlanning" class="dashboard-nav-item">
					<img src="/img/planning.svg">

					Planning
				</a>
				<a href="/appointments" class="dashboard-nav-item" id="appointment">
					<img src="/img/appointment.svg">
					Rendez-vous</a>
				<a href="/pathways" class="dashboard-nav-item" id="pathways">
					<img src="/img/pathway.svg">
					Parcours</a>
				<a href="/patients" class="dashboard-nav-item" id="patients">
					<img src="/img/patient.svg">
					Patients</a>
				<a href="#" class="dashboard-nav-item" id="ethics">
					<img src="/img/ethics.svg">
					Éthique
				</a>
				<a href="/human-resources" class="dashboard-nav-item" id="human-resources">

					<img src="/img/human_ressource.svg">
					Ressources humaines</a>
				<a href="/material-resources" class="dashboard-nav-item" id="material-resources">
					<img src="/img/material_resource.svg">


					Ressources matérielles
				</a>

			</div>
			<div id='menu-bottom'>
				<div class="nav-item-divider"></div>
				<a href="/settings" class="dashboard-nav-item" id="settings">
					<img src="/img/setting.svg">
					Paramètres</a>
				<a href="/user" class="dashboard-nav-item" id="user">
					<img src="/img/user.svg">
					Utilisateurs
				</a>
				<a href='/profile' class="dashboard-nav-item">
					<img src="/img/profile.svg">

					Mon profil
				</a>
				<a href="/logout" class="dashboard-nav-item">

					<img src="/img/logout.svg">

					Se déconnecter
				</a>
			{% endif %}

		</nav>
	</div>
