<form method="post" action="{{ path('app_material_resource_category_delete', {'id': material_resource_category.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette ressource?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ material_resource_category.id) }}">
    <button class="btn-delete btn-secondary">Supprimer</button>
</form>
