<form method="post" action="{{ path('app_material_resource_delete', {'id': material_resource.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette ressource?');">
    <button class="btn-delete btn-secondary">Supprimer</button>
</form> 
