{% extends 'base.html.twig' %}

{% block title %}New MaterialResource{% endblock %}

{% block body %}
    <h1>Create new MaterialResource</h1>

    {{ include('material_resource/_form.html.twig') }}

    <a href="{{ path('app_material_resource_index') }}">back to list</a>
{% endblock %}
