<!-- new-activity-modal -->

<div class="modal" id="new-material-resource-category-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Ajouter la catégorie de la ressource matérielle <span id="show-title"></span></h2>
            </div>

            <form action="{{ path('app_material_resource_category_new') }}" method="POST">
                <div class="modal-body">
                    <div>
                        <label for='name'> Nom </label>
                        <input type='text' name='name'>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-delete btn-secondary" onclick="hideNewModalForm()">Annuler</button>
                    <button  type="submit" class="btn-valide btn-secondary"> Ajouter </button>
                </div>
          </form>
        </div>
    </div>
</div>

