<div class="modal" id="infos-human-resource-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
    <h1>MaterialResource</h1>

    <table class="table table-striped">
        <tbody>
            <tr> 
                <th>Id</th>
                <td id ="material-resource-id"></td>
            </tr>
            <tr>
                <th>Materialresourcename</th>
                <td id ="material-resource-name"></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
