<div class="modal" id="infos-material-resource-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="main_content">
                <li class="selected" id="planning" onclick="change_tab_material_infos(this.id);">Planning</li>
                <li class="notselected" id="categoriesbyresource" onclick="change_tab_material_infos(this.id);">Catégories</li>
            </div>
            <div id = 'material-resource-planning'>
                <div class="modal-header">
                    <h1 id='material-resource1'></h1>
                </div>
                <div class="modal-body">

                </div>
            </div>
            
            <div id = 'material-resource-categories'>
                <div class="modal-header">
                    <h1 id='material-resource2'></h1>
                    <br>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Catégorie</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-material-resource">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
