<div class="modal" id="infos-material-resource-category-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
<h1>MaterialResource</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td id ="material-resource-category-id"></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td id ="material-resource-category-name"></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
