<!DOCTYPE html>

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('CSS/Connexion/connexion.css') }}">

{% endblock %}
{% block javascripts %}
	{% if app.user != null %}
		<script type="text/javascript">
			document.location.href = "/Simulations"
		</script>
	{% endif %}
{% endblock %}
{% block body %}
	<head>
		<title>Connexion</title>
		{#<!--<script type="text/javascript" src="{{ asset('js/connexion/connexion.js') }}" defer></script>-->#}
	</head>
	<div id="box">
		<h1>Connexion</h1>

		<form
			id="login-form" method="post">
			<!-- Email input -->
			<label>Identifiant</label>
			<div>
				<input type="text" name="username" required="required" id="username" class="form-control"/>

			</div>

			<!-- Password input -->
			<label>Mot de passe</label>
			<div>
				<input type="password" name="password" required="required" id="password" class="form-control"/>

			</div>

			<!-- Submit button -->
			<button type="submit" id="submit_button" class="btn btn-primary btn-block mb-4">
				Connexion
			</button>
		</form>

		<p>
			{{ message }}
		</p>
	</div>
{% endblock %}
