<div class="modal" id="infos-human-resource-category-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
    <h1>Catégorie de la ressource humaine</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td id ="human-resource-category-id"></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td id = "human-resource-category-name"></td>
            </tr>
        </tbody>
    </table>

</div>
</div>
</div>
</div>
