.comments {
    display: flex;
    flex-direction: column;
    overflow-y:scroll; 
    overflow-x: hidden;
    max-height:175px;
}
/* represents one activity */
.div-comment {
    margin: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:fit-content;
    position: relative;
}

.div-comment .container-p {
    max-height: 99%;
    position: relative;
    width: 100%;
    overflow-y: auto;
}
/* text of the activity */
.div-comment .container-p p{
    width: 80%;
    padding: 10px;
    margin: 0px;
}
/* btns for edit / remove an activity from the list */ 
.div-comment .btns {
    position: absolute;
    right: 25px;
}
.input-modal-ethics {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
}
.input-comment{
    margin-left: 5%;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 10px;
    color: black;
    width : 80%;
    height: 200px;
    ;
}
.input-container{
    width:100%
}