<!-- edit-activity-modal -->

<div class="modal" id="edit-activity-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><span id="show-title">Modifier l'activité </span></h2>
            </div>

            <form action="{{ path('app_activity_edit') }}" method="POST">
                <div class="modal-body">

                    <div>
                        <label for='id'> Identifiant </label>
                        <input id='activityid' type='text' name='id' readonly style="background-color:whitesmoke;">
                    </div>

                    <div>
                        <label for='name'> Nom </label>
                        <input id='name' type='text' name='name'>
                    </div>
                    <div>
                        <label for='duration'> Durée </label>
                        <input id='duration' type='text' name='duration'>
                    </div>

                </div>

                <br>

                <div class="modal-footer">
                    <button type="button" class="btn-consult btn-secondary" onclick="hideEditModalForm()">Annuler</button>
                    <button  type="submit" class="btn-valide btn-secondary"> Valider </button>
                </div>
          </form>
       
        </div>
    </div>
</div>