<!-- new-activity-modal -->

<div class="modal" id="new-activity-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Ajouter l'activité <span id="show-title"></span></h2>
            </div>

            <form action="{{ path('app_activity_new') }}" method="POST">


              <div class="modal-body">
                  <div class='form-field-label'>
                      <label for='name'> Nom </label>
                      <label for='duration'> Durée </label>

                  </div>
                  <div class='form-field-input'>
                      <input type='text' name='name'>
                      <input type='text' name='duration'>
                  </div>
              </div>
              <br>

              <div class="modal-footer">
                    <button type="button" class="btn-delete btn-secondary" onclick="hideNewModalForm()">Annuler</button>
                  <button  type="submit" class="btn-valide btn-secondary"> Ajouter </button>
              </div>
   
          </form>
       
        </div>
    </div>
</div>