
.btn-consult-users, .btn-edit-user, .btn-delete-user {
    border : 2px solid #34EB67;
    margin-top : 20px;
    border: none;
    background: #404040;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border : 1px solid black;
    margin-left : 10px;
}

.btn-consult-users:hover, .btn-edit-user:hover, .btn-delete-user:hover {
    color: #404040;
    background : none;
    border : 1px solid black;
}

#show-user {
    position : relative;
    width: 100%;
    padding : 20px 30px;
}