<form method="post" action="{{ path('app_human_resource_delete', {'id': human_resource.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette ressource?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ human_resource.id) }}">
    <button class="btn-delete btn-secondary">Supprimer</button>
</form>
