<form method="post" action="{{ path('app_human_resource_delete', {'id': human_resource.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette ressource?');">
     <button class="btn-delete btn-secondary">Supprimer</button> 
</form>
