<div class="modal" id="human-resource-modal-scheduled-appointments">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="flex-direction: column;">
                <h3 class="modal-title">Attention</h3>
                <p id="modal-subtitle">En supprimant cette ressource, les RDV suivants seront affectés :</p>

            </div>

            <div class="modal-body" id="scheduled-appointments-body" style="max-height: 300px;overflow-y: scroll;">
               
            
            </div>

            <div class="modal-footer">
                <form method="post" id="form-human-resource-delete" action="/human-resource/0/delete" style="display: flex;flex-direction: row;">
                    <button type="submit" class="btn-valide btn-secondary" style="float:right; margin-right:10px;">Supprimer</button>
                    <button type="button" onclick="$('#human-resource-modal-scheduled-appointments').modal('hide');" class="btn-delete btn-secondary" style="float:right; margin-right:10px;">Annuler</button>	
                </form>
            </div>

        </div>
    </div>
</div>