    <!-- add-patient-modal -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
{% endblock %}
<div class="modal" id="new-human-resource-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Ajouter une ressource humaine</h2>
            </div>
            <form action="{{ path('HumanResPost') }}" method="post">
                <div class="modal-body">
                    <!-- input invisible (juste pour passer le nb d'activité dans la requete -->
                    <input style="display:none;" name="nbCategory" id="nbCategory">

                    <div class='flex-row'>
                        <div class="form-field-label flex-col">
                            <label for='name'> Nom de la ressource </label>
                        </div>
                        <div class="form-field-input flex-col">
                            <input id='resourcename' type='text' name='resourcename'>
                        </div>
                    </div> 
 
                    <fieldset id="fs-add-human-category">
                        <legend>Choisissez les catégories de votre ressource</legend>
                
                        <div id="categories-container"> 
                            <select style="display:none;" class="select-category-sample" class="slct-add-category" > 

                                {% for human_resource_category in human_resources_categories %} 
                                    <option value="{{ human_resource_category.id }}"> {{ human_resource_category.categoryname }} </option>
                                {% else %}
                                    <p> Pas de catégories créées ! </p>
                                {% endfor %}

                            </select>
                        </div>
                        <button type="button" id='btn-add-category' onclick="handleAddHumanCategory()"> <b> Ajouter </b> </button> 

                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-delete btn-secondary" onclick="hideNewModalForm()">Annuler</button>
                    <button type='button' onclick="verifyChanges()" class="btn-consult btn-secondary"> Verrouiller les modifications  </button>
                    <button id='submit' type="submit" class="btn-valide btn-secondary" disabled> Ajouter </button>

                </div>
    	    </form>
        </div>
    </div>
</div>
