    <!-- add-patient-modal -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
{% endblock %}
<div class="modal" id="new-human-resource-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Ajouter une ressource humaine</h2>
            </div>
            <form action="{{ path('HumanResPost') }}" method="post">
                <div class="modal-body">
                    <!-- input invisible (juste pour passer le nb d'activité dans la requete -->
                    <input style="display:none;" name="nbCategory" id="nbCategory">
                    <div class='flex-col'>
                            <label class="label" for='name'> Nom de la ressource </label>
                            <input  required="required" class="input" id='resourcename' type='text' name='resourcename'>
                    </div>
                    <fieldset id="fs-add-human-category">
                        <legend>Choisissez les catégories de votre ressource</legend>
                
                        <div id="categories-container"> 
                                {% for human_resource_category in human_resources_categories %} 
                                <div>
                                <input value = '{{human_resource_category.id }}'type="checkbox" id="category" name="category">
                                <label id = "lbl-category">{{ human_resource_category.categoryname }}</label>
                                </div>
                                {% else %}
                                    <p> Pas de catégories créées ! </p>
                                {% endfor %}
                            </div>
                    </fieldset>
                </div>
                <fieldset id="fs-add-working-hours">
                <legend id = "lgd-working-hours">Choisissez les heures de disponibilités</legend>
                <div id = 'working-hours-parent'>
                <div id = 'working-hours-label'>
                <label> Lundi :</label>
                <label> Mardi :</label>
                <label> Mercredi :</label>
                <label> Jeudi :</label>
                <label> Vendredi :</label>
                <label> Samedi :</label>
                <label> Dimanche :</label>
                </div>
                <div id = 'working-hours-input-begin'>
                    <input type="time" id="monday-begin" name="monday-begin"
                    min="00:00" max="23:59">
                    <input type="time" id="tuesday-begin" name="tuesday-begin"
                    min="00:00" max="23:59">
                    <input type="time" id="wednesday-begin" name="wednesday-begin"
                    min="00:00" max="23:59">
                    <input type="time" id="thursday-begin" name="thursday-begin"
                    min="00:00" max="23:59">
                    <input type="time" id="friday-begin" name="friday-begin"
                    min="00:00" max="23:59">
                    <input type="time" id="saturday-begin" name="saturday-begin"
                    min="00:00" max="23:59">
                    <input type="time" id="sunday-begin" name="sunday-begin"
                    min="00:00" max="23:59">
                    </div>
                    <div id = 'working-hours-input-end'>
                    <input type="time" id="monday-end" name="monday-end"
                    min="00:00" max="23:59">
                    <input type="time" id="tuesday-end" name="tuesday-end"
                    min="00:00" max="23:59">
                    <input type="time" id="wednesday-end" name="wednesday-end"
                    min="00:00" max="23:59">
                    <input type="time" id="thursday-end" name="thursday-end"
                    min="00:00" max="23:59">
                    <input type="time" id="friday-end" name="friday-end"
                    min="00:00" max="23:59">
                    <input type="time" id="saturday-end" name="saturday-end"
                    min="00:00" max="23:59">
                    <input type="time" id="sunday-end" name="sunday-end"
                    min="00:00" max="23:59">
                    </div>
                    </div>
                    </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn-delete btn-secondary" onclick="hideNewModalForm()">Annuler</button>
                    <button type = "button" onclick="verifyChanges()" class="btn-valide btn-secondary"> Ajouter </button>
                    <button id = 'btn-none-add-human-resource' style = "display : none" type = "submit"></button>

                </div>
    	    </form>
        </div>
    </div>
</div>
