<div class="modal" id="infos-human-resource-modal">
	<div id="modal-dialog" class="modal-dialog">
		<div class="modal-content">
			<div id="main_content" class="li-header" style="margin-top: 10px;">
				<li class="selected" id="planning-infos" onclick="change_tab_human_infos(this.id);">Emploi du temps</li>
				<li class="notselected" id="workinghours" onclick="change_tab_human_infos(this.id);">Horaires de travail</li>
				<li class="notselected" id="categoriesbyresource" onclick="change_tab_human_infos(this.id);">Catégories</li>
			</div>
			<div id='human-resource-planning' >
				<div class="modal-header">
					<h1 id='human-resource1'></h1>
				</div>
				<div class="modal-body">
					<div id="load-large"></div>
					<div id="empty-planning" style="visibility:hidden"> Aucune activité prévue cette semaine</div>
						<div id="calendar-container" class="calendar-container">
							<button id="previousButton" class="btn-calendar-edit" onclick="PreviousWeek('human')" title="Aller au jour d'avant">
								<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
							</button>
							<button class="btn-calendar-edit" onclick="Today('human')" title="Aller à aujourd'hui">Aujourd'hui</button>
							<button id="previousButton" class="btn-calendar-edit" onclick="NextWeek('human')" title="Aller au jour d'après">
								<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
							</button>
							<!-- affichage du calendar -->
							<div id='calendar-hr'></div>
						</div>
					</div>
				</div>
			
			<div id='human-resource-working-hours'>
				<div class="modal-header">
					<h1 id='human-resource2'></h1>
				</div>
				<fieldset id="fs-add-working-hours">
					<div id='working-hours-parent'>
						<div id='working-hours-label'>
							<label>
								Lundi :</label>
							<label>
								Mardi :</label>
							<label>
								Mercredi :</label>
							<label>
								Jeudi :</label>
							<label>
								Vendredi :</label>
							<label>
								Samedi :</label>
							<label>
								Dimanche :</label>
						</div>
						<div id='working-hours-infos-begin'>
							<input type="time" id="monday-begin" name="monday-begin" min="00:00" max="23:59">
							<input type="time" id="tuesday-begin" name="tuesday-begin" min="00:00" max="23:59">
							<input type="time" id="wednesday-begin" name="wednesday-begin" min="00:00" max="23:59">
							<input type="time" id="thursday-begin" name="thursday-begin" min="00:00" max="23:59">
							<input type="time" id="friday-begin" name="friday-begin" min="00:00" max="23:59">
							<input type="time" id="saturday-begin" name="saturday-begin" min="00:00" max="23:59">
							<input type="time" id="sunday-begin" name="sunday-begin" min="00:00" max="23:59">
						</div>
						<div id='working-hours-infos-end'>
							<input type="time" id="monday-end" name="monday-end" min="00:00" max="23:59">
							<input type="time" id="tuesday-end" name="tuesday-end" min="00:00" max="23:59">
							<input type="time" id="wednesday-end" name="wednesday-end" min="00:00" max="23:59">
							<input type="time" id="thursday-end" name="thursday-end" min="00:00" max="23:59">
							<input type="time" id="friday-end" name="friday-end" min="00:00" max="23:59">
							<input type="time" id="saturday-end" name="saturday-end" min="00:00" max="23:59">
							<input type="time" id="sunday-end" name="sunday-end" min="00:00" max="23:59">
						</div>
					</div>
				</fieldset>
			</div>
			<div id='human-resource-categories'>
				<div class="modal-header">
					<h1 id='human-resource3'></h1>
					<br>
				</div>
				<div class="modal-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Catégorie</th>
							</tr>
						</thead>
						<tbody id="tbody-human-resource"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="planning-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">
					<span id="show-title"></span>
				</h2>
			</div>
			<form method="post" action="/ModificationPlanning">
				<div class="modal-body">
					<label class="label-event">Horaires de l'activité :
					</label>
					<div class="input-container onWhite">
						<input class="input-modal-date" type="datetime-local" id="start" name="start" disabled>
						<input class="input-modal-date" type="datetime-local" id="end" name="end" disabled></br>
						<label class="label-event">Parcours :</label>
						</br>
						<input class="input-modal" type="text" id="parcours" name="parcours" disabled></input>
						</br>
						<label class="label-event">Patient :</label>
						</br>
						<input class="input-modal" type="text" id="patient" name="patient" disabled></input>
						</br>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn-consult btn-secondary" data-bs-dismiss="modal">Fermer</button>
					</div>
				</div>
			</form> 
		</div>
	</div>
</div>