<div class="modal" id="infos-human-resource-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
    <h1>HumanResource</h1>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td id= "human-resource-id"></td>
            </tr>
            <tr>
                <th>Humanresourcename</th>
                <td id= "human-resource-name"></td>
            </tr>
            <tr>
                <th>Available</th>
                <td id = "human-resource-available"></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
