<div class="modal" id="infos-human-resource-category-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id='human-resource-category'></h1>
                <br>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="tableShow">
                    <thead>
                        <tr>
                            <th>Nom</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-human-resource-category">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>