<div class="modal" id="infos-human-resource-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id='human-resource'></h1>
                <br>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="tableShow">
                    <thead>
                        <tr>
                            <th>Catégorie</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyShow">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
