{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau type de ressource{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
{% endblock %}

{% block body %}
<!--- FORMULAIRE -->
<div id = "add-form">
    <div id = "container">
        <h3 >Ajouter un nouveau type de ressource</h3>

        {{ include('resource_type/_form.html.twig') }}
        <button class="btn-consult btn-secondary" onclick="window.location.href='{{ path('app_resource_type_index') }}'">Consulter les types de ressource</button>
    </div>
</div>
{% endblock %}
