


#index-users {
    display : flex;
    flex-direction : column;
    width : 100%;
    padding : 20px 30px;

}

.table-index{
    width : 100%;
}

#both-tables {
    display : flex;
    flex-direction : column;
    padding : 20px;
}

#modal-dialog {
    display : flex;
    flex-direction:  column;
}

