


.index {
    display : flex;
    flex-direction : column;
    width : 100%;
    padding : 20px 30px;
    overflow-y: scroll;
}

.table-index{
    width : 100%;
}

#both-tables {
    display : flex;
    flex-direction : column;
    padding : 20px;
    width : 100%;
}

#modal-dialog {
    display : flex;
    flex-direction:  column;
}

#main_content
{
 margin-top:50px;
 width:100%;
}

#main_content li
{
 display:inline;
 list-style-type:none;
 background-color:#00305d;
 padding:10px;
 border-radius:5px 5px 0px 0px;
 color:#292A0A;
 font-weight:bold;
 cursor:pointer;
}
#main_content li.notselected
{
 background-color:#00305d;
 color:#fff;	
}
#main_content li.selected
{
 background-color:#71a39c;
 color:#fff;	
}
#main_content .hidden_desc
{
 display:none;
 visibility:hidden;
}
#main_content #page_content
{
 background-color:#fff;
 padding:10px;
 margin-top:9px;
 border-radius:0px 5px 5px 5px;
 color:#fff;
 line-height: 1.6em;
 word-spacing:4px;
}


#list-material-categories {
    width : 100%;
}
#paginator a{
    background: #00305d;
    color: white;
    box-shadow:rgba(149, 157, 165, 0.5) 0px 8px 10px;
    opacity: 0.9;
}
#paginator li{
    border:none;
    background:#e9edf4;
    padding:0px;
    border-radius: 0px 0px 0px 0px;
}




