body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    
}

:root {
    --main-blue: #00305d;
    --main-green: #71a39c;
    --main-black: #404040;
}

h1#title {
    margin-bottom: 30px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.btn-add, .btn-edit, .btn-infos, .btn-delete, .btn-valide, .btn-consult{
    margin-top : 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border : 1px solid black;
    margin-left : 10px;
    margin-bottom : 5px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 10px;
    fill:white;
    background-color:var(--main-blue); 
    color: #ffffff;
}



.btn-add:hover, .btn-edit:hover, .btn-infos:hover, .btn-delete:hover, .btn-valide:hover, .btn-consult:hover{
    color: #404040;
    background : none;
    border : 1px solid black;
}


.btn-valide:hover{
    box-shadow: 0px 0px 5px green;
    color :green;
    border: 1px solid green;
}

.btn-consult:hover, .btn-infos:hover, .btn-edit:hover, .btn-add:hover, .list-edit:hover  {
    box-shadow: 0px 0px 5px blue;
    color :blue;
    border: 1px solid blue;
    fill : blue
}

.btn-delete {
    margin-top : 10px;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border : 1px solid black;
    margin-left : 10px;
    margin-bottom : 5px;

    box-shadow: none;
    border: none;
    background: var(--main-blue); 
    color: #ffffff;

}


.btn-add {
    margin-left : 50px;
    margin-right : 50px;
    margin-bottom : 30px;
}


.btn-delete:hover {   
    box-shadow: 0px 0px 5px red;
    color :red;
    border: 1px solid red;
    background-color: transparent;
}

div#informations {
    position : absolute;
    right : 0px;
    height : 100px;
    width : 100px;
}

div#conn-form {
    display:flex;
    align-items: center;
    flex-direction : column;
    justify-content : center;
    height : 100vh;
    width : 100%;
    margin-left : 54vh;
}

div#conn-form div#container {
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    padding : 15px 40px;
    display : flex;
    align-items : center;
    flex-direction: column;
    border-radius: 20px;
}

div#conn-form div#container form {
    display : flex;
    align-items : center;
    flex-direction : column;
}




