

/*  ------------------ SURCHARGE CLASSE BOOTSTRAP------------------ */
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: self-start;

}

.modal-dialog {
    max-width: 600px;
}

/* ------------------ POUR TOUS LES FORMULAIRES ------------------*/
/* Input pour tous les formulaires */
.input {
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    width: 100%;
}
/* Label pour tous les formulaires */
.label {
    margin: 0px;
    margin-top: 10px;
    font-weight: 600;
}


/* ------------------FORMULAIRE PATHWAY ------------------ */
div#edit--activities-container {
    margin-bottom:20px;
}

/* classe représentant un champ contenant une activité  */
div.activity-field {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    /*margin: 10px 10px; */
}

/* nom d'une activité */
div.activity-field .input-name {
    height:35px;
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: transparent;
    border-right: 1px lightgray solid;
    width: 100%;
}

/* durée d'un activité */
div.activity-field .input-duration {
    height:35px;
    border: transparent;
    margin-left: 1px;
    border-right: 1px lightgray solid;
}

/* texte dans un champ de formulaire */
div.activity-field p.label {
    border-right: 1px solid lightgray;
    margin: 0;
}

 /* image (delete) */
div.activity-field img{
    width:20px;
    cursor: pointer;
    margin: 0px 6px;
}
 
div.activity-field select {
    height: 35px;
    border-radius: 15px; 
    min-width: 300px;
   /* margin: 10px 15px;*/
    padding-left: 15px;
}

div.activities-container {
    width: 85%
}

p .label {
    margin: 0px;
    font-weight: 900;
}

/* ------------------ MODIFICATION RESOURCE DANS UNE ACTIVITY DANS UN PATHWAY ------------------ */

.div-edit-activities {
    display: flex;
    flex-direction: column;
   /* height: 100px;*/
    border: 1px solid lightgrey;

}
/* bouton de selection materielles / humaines */
.div-buttons-resources {
    display: flex;
    flex-direction: row;
}
.div-buttons-resources button{
    border: none;
    width: 50%;
    background-color: transparent;
    border: none;
}

/* div qui contient le tableau des resources */
.div-resources {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 100%;
    position: relative;
    padding: 10px;
}
.div-resources-h {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    /*position: absolute;*/

}
.div-resources-m {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
   /* position: absolute;*/
}
/* div pour ajouter une ressource (avec le select) */
.div-add-resources {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray; 
}


.div-add-resources select {
    width: 70%;
    border: none;
}
.div-add-resources input {
    width: 30%;
    border: none;
    border-right: 1px solid lightgray; 
    border-left: 1px solid lightgray; 

}
.div-add-resources button {
    color: green;
    background-color:transparent; 
    border: none;
    font-weight: 900;
}

