/* CSS PAGE AJOUT PARCOURS*/
div#pathway-form-body {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    margin: 20px 0px;
}
div#create-activity-container {
    width: 55%;
    /*border: 1px solid lightgray;*/
    /*border: 1px solid var(--main-blue);*/
    box-shadow: 0px 0px 10px lightgray;
    padding: 10px 20px;
    border-radius: 10px;
}
.title{
    margin: 20px;
}

#creation-form {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    /*margin: 10px 10px; */
    background-color: #fff;

}


div#activities-list {
    width: 35%;
    /*border: 1px solid var(--main-blue);*/
    box-shadow: 0px 0px 10px lightgray;
    padding: 20px 0px;
    border-radius: 10px;
}

div#activities-list #list{
    display: flex;
    flex-direction: column;
    overflow-y:scroll; 
}

.div-activity {
    margin: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    min-height: 35px;
}
.div-activity p {
    margin: 0px;
    width: 80%;
}

/* bouton pour ajouter des activités au parcours */
button#btn-add-activity {
    color: #37BC9B;
    background : none;    
    border : 1px solid #37BC9B;

}

/* bouton pour confirmer l'édition d'une activité dans un parcours */
button#btn-confirm-activity {
    color: #37BC9B;
    background : none;    
    border : 1px solid #37BC9B;
}
/* bouton pour annuler l'édition d'une activité dans le parcours */
button#btn-cancel-activity {
    color: #DA4353;
    background : none;    
    border : 1px solid #DA4353;

}
button#btn-add-activity:hover {

}
#title-pathway {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#title-pathway div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#title-pathway div img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
#title-pathway div p{
    margin: 0;
}
div#container-btn-add-activity {
    margin-top: 20px;
    width:100%; 
    display: flex; 
    justify-content: center;
}
/* fieldset qui contient la liste activités*/
fieldset#fs-add-activity, #fs-add-human-category, #fs-add-material-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    overflow-y: scroll;
    padding: 5px;
    width: 100%;
}

#pathwayname {
    width: 50%;
}

fieldset#fs-add-pathway, #fs-add-human-category, #fs-add-material-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    overflow-y: scroll;
    margin: 15px 0px; 
    padding: 5px;
}

fieldset#fs-add-pathway button#btn-add-pathway {
    background: #404040;
    padding: 5px 15px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    color: #404040;
    background : none;
    border : 1px solid black;
    margin-top: 5px;
}

fieldset#fs-add-human-category button#btn-add-category {
    background: #404040;
    padding: 5px 15px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    color: #404040;
    background : none;
    border : 1px solid black;
    margin-top: 5px;
}

fieldset#fs-add-material-category button#btn-add-category {
    background: #404040;
    padding: 5px 15px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    color: #404040;
    background : none;
    border : 1px solid black;
    margin-top: 5px;
}

fieldset#fs-add-pathway button#btn-add-pathway:hover {
    box-shadow: 0px 0px 5px black;
}



#categories-container{
    display : flex;
    flex-direction : column;

}


/* ------------------ MODIFICATION RESOURCE DANS UNE ACTIVITY DANS UN PATHWAY ------------------ */

#div-edit-activity {
    display: flex;
    flex-direction: column;
   /* height: 100px;*/
    border: 1px solid lightgrey;
    /*max-height: 400px;*/
    /*overflow-y: scroll;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff; 
    width: 100%;
}  
/* bouton de selection materielles / humaines */
#buttons-resources {
    display: flex;
    flex-direction: row;
}
#buttons-resources button{
    border: none;
    width: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* div qui contient le tableau des resources */
#div-resources {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 100%;
    position: relative;
    padding: 10px;
    overflow-y: scroll;
    max-height: 150px;
    height: 150px;
}
.div-resources-h {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
}
.div-resources-m {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
}
/* div pour ajouter une ressource (avec le select) */
#div-add-resources {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray; 
    border-radius: 10px;
    border-top-right-radius: 0px;
    align-items: center;
    height: 35px;
    background-color: #fff; 
}   


#div-add-resources select {
    width: 70%;
    border: none;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#div-add-resources input {
    width: 30%;
    border: none;
    border-right: 1px solid lightgray; 
    border-left: 1px solid lightgray; 
    height: 100%;

}

#lgd-working-hours{
    margin-left : 100px;
}

#unavailabilities-human-container {
    display: flex;
    flex-direction: column;
}

#unavailabilities-human-container div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#unavailabilities-human-container div input{
    margin: 15px;
}

.pathway-field {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#btn-show-targets {
    background-color: var(--main-blue);
    color: white;
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 15px;
    width: 100%;
}
#pathway-form-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}