body {
    background-color: lightgray;
    height : 100vh;
}

div#add-form {
    display:flex;
    align-items: center;
    flex-direction : column;
    justify-content : center;
    height : 100vh;
    width : 100%;
}

div#container {
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    padding : 15px 40px;
    display : flex;
    align-items : center;
    flex-direction: column;
    
}
form {
    display : flex;
    align-items : center;
    flex-direction : column;
}

<<<<<<< HEAD
div#user, div#activity, div#resource_type{
=======
div#user, div#activity, div#patient1{
>>>>>>> db3e91f5b3baa8db9a18d46e1fc4b9a63e55536e
    display : grid;
    justify-items : end;
    margin-right : 55px;
}



input {
    margin-left : 10px;
}


h1 {
    margin-bottom : 25px;
}
