/* CSS PAGE AJOUT PARCOURS*/









.div-successor {
    margin: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 2px 5px;
    font-size: 80%;
}


button#btn-add-activity:hover {

}
#title-pathway {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#title-pathway div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#title-pathway div img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
#title-pathway div p{
    margin: 0;
}
div#container-btn-add-activity {
    margin-top: 20px;
    width:100%; 
    display: flex; 
    justify-content: center;
}
/* fieldset qui contient la liste activités*/
fieldset#fs-add-activity, #fs-add-human-category, #fs-add-material-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    overflow-y: scroll;
    padding: 5px;
    width: 100%;
}

#pathwayname {
    width: 50%;
}

fieldset#fs-add-pathway, #fs-add-human-category, #fs-add-material-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    overflow-y: scroll;
    margin: 15px 0px; 
    padding: 5px;
}

fieldset#fs-add-pathway button#btn-add-pathway {
    background: #404040;
    padding: 5px 15px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    color: #404040;
    background : none;
    border : 1px solid black;
    margin-top: 5px;
}

fieldset#fs-add-human-category button#btn-add-category {
    background: #404040;
    padding: 5px 15px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    color: #404040;
    background : none;
    border : 1px solid black;
    margin-top: 5px;
}

fieldset#fs-add-material-category button#btn-add-category {
    background: #404040;
    padding: 5px 15px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    color: #404040;
    background : none;
    border : 1px solid black;
    margin-top: 5px;
}

fieldset#fs-add-pathway button#btn-add-pathway:hover {
    box-shadow: 0px 0px 5px black;
}



#categories-container{
    display : flex;
    flex-direction : column;

}




#lgd-working-hours{
    margin-left : 100px;
}

#unavailabilities-human-container {
    display: flex;
    flex-direction: column;
}

#unavailabilities-human-container div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#unavailabilities-human-container div input{
    margin: 15px;
}

.pathway-field {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#btn-show-targets {
    background-color: var(--main-blue);
    color: white;
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 15px;
    width: 100%;
}
#pathway-form-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}