.table-stats,.table-resources{
    width: 100%;
    margin: 0 0 1em 0;
    /*font-weight: bold;*/
    font-size: larger;
}
.td-left{
    text-align: left;
    width: 35%;
    padding: 5pt;
}
.td-left-center{
    text-align: left;
    width: 15%;
}
.td-right-center{
    text-align: left;
    width: 30%;
}
.td-right{
    text-align: left;
    width: 20%;
}

.table-resources{
    border-collapse: collapse;
    border-style: solid;
    border-color: #000000;
}
.header-table,.td-resource-column,.td-first-hour-column,.td-second-hour-column,.td-third-hour-column,.td-fourth-hour-column,.occupancy-cell{
    border-collapse: collapse;
    border-width: 1pt;
    border-style: solid;
    border-color: #000000;
}

.td-resource-column{
    text-align: center;
    width: 22%;
    padding: 5pt;
}

.td-first-hour-column{
    text-align: center;
    width: 13%;
    padding: 5pt;
}
.td-second-hour-column{
    text-align: center;
    width: 13%;
    padding: 5pt;
}
.td-third-hour-column{
    text-align: center;
    width: 13%;
    padding: 5pt;
}
.td-fourth-hour-column{
    text-align: center;
    width: 13%;
    padding: 5pt;
}
.td-fifth-hour-column,.occupancy-fifth-cell{
    text-align: center;
    width: 13%;
    padding: 5pt;
    border-collapse: collapse;
    border-width: 1pt;
    border-color: #000000;
    border-left-style:solid;
    border-right-style:none;
    border-top-style:solid;
    border-bottom-style:solid;
}
.td-total-column,.occupancy-total-cell{
    text-align: center;
    width: 13%;
    padding: 5pt;    
    border-collapse: collapse;
    border-width: 1pt;
    border-color: #000000;
    border-left:double 3px black ;
    border-right-style:solid;
    border-top-style:solid;
    border-bottom-style:solid;
}
.occupancy-cell{
    text-align: center;
    width: 13%;
    padding: 5pt;
}
.noResourcesMessage{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}