div.exemple-wrapper {
   width: 100%;
}

div#container {
   box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
   display: block;
   align-items : center;
   flex-direction: column;
   border-radius: 20px;
   position: absolute;
}

#container-top {
  display: flex;
  justify-content: space-between;
  z-index: 5;
  margin-top: 2.5%;
}

#container-top-right {
  display: flex;
  flex-direction: column;
}

.form-control {
  border-radius: 50px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 10px;
  height: auto;
}

.flex{
  margin-left : 5%;
  width: 95%;
  display: block;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;

}
.filter-container {
  order: 4;
  display: none;
  position: absolute;
  z-index: 100;
  margin: 30px;
  padding: 20px 50px 20px 50px;
  width: fit-content;
  height: fit-content;
  background: white;
  border-radius: 10px;
  box-shadow:10px 5px 5px grey;
}

.fc-timeline-slot-frame, .fc-prev-button, .fc-button, .fc-button-primary{
  background-color: var(--main-blue);
  border-radius: 5px;
  
}
a{
  color:white
}

a:hover{
  color: white;
  font-style: normal;
  text-decoration: none;
}

.calendar-container, .all-container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative;
  overflow-x: hidden;
}
.calendar-container{
  z-index:0;
}
.all-container{
  padding: 30px;  
  padding-right: 50px;
  padding-left: 50px;
}

.btn-calendar-edit{
  margin-top : 10px;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-left : 10px;
  margin-bottom : 5px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 10px;
  fill:white;
  background-color:var(--main-blue); 
  color: #ffffff;
}
.btn-calendar-edit:hover{
  background : #0057A8;
  border : 1px solid #002242;
}

.list-edit{
  border : 2px solid #34EB67;
    margin-top : 10px;
    border: none;
    background: var(--main-blue); 
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    border : 1px solid black;
    margin-left : 10px;
    margin-bottom : 5px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 10px;
    fill:white;
    border : 1px solid black;
    height: auto;
}

.datepicker{
  width: 25%;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  
}
.date-button{
  display: inline-block;
}

.input-modal, .input-modal-date{  
  margin-left: 5%;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 10px;
  color: black;
}
.input-modal{
  width: 100%;
}

.input-modal-date{
  display: inline;
}

.label-event{
  text-decoration: underline ;
  font-weight: bold;
  margin-bottom: 5px;
}

.label-event-solid{
  font-weight:normal;
  margin-bottom: 5px;
}

#appointment-modal-footer{
  left:0%;
}
#lateral-panel {
  position:absolute;
  z-index: 9999;                  /* pour être au dessus des autres éléments */                /* ne suit pas le scroll de la page et sert de réfèrent */
  top: 0;                         /* position en haut */
  right: 0;                        /* à gauche */
  /*width: 40em;*/                    /* valeur de largeur pour tout le contenu */
  min-height: 100vh;              /* occupe toute la hauteur du viewport */
  transform: translateX(100%);   /* on déplace à gauche pour ne pas interférer avec le document */
}

#lateral-panel-input {
  position: absolute;           /* pour sortir l'élément du flux */
  left: -999em;                 /* position hors de la fenêtre */
}

#lateral-panel-label {
  z-index: 1;                   /* on le met au dessus */
  position: absolute;           /* pour sortir l'élément du flux, il va bouger */
  top: 50%;                       /* position en haut */
  left: 0%; 
  transform: translateX(-100%);                   /* alignement sur le bord droit du parent */
  width: 2em;                   /* dimensions respectables */
  height: 6em;
  cursor: pointer;
  writing-mode: vertical-rl; 
  text-align: center;
  text-decoration:double;
  text-size-adjust: 50%;
  color : indianred;
  font-size :50%;
  font-weight: bold;
}

#text-lateral-panel-label{
  transform: rotate(-180deg);
}


#lateral-panel-bloc {
  z-index: 0;                   /* mise au niveau zéro */
  position: absolute;           /* pour sortir l'élément du flux, il va bouger */
  top: 0;                       /* position en haut */  
  left: 0;                      /* alignement sur bord gauche du parent */
  box-sizing: border-box;       /* modèle de boîte, plus simple à gérer */
  width: 100%;                  /* largeur 100% de son parent */
  height: 100%;                 /* hauteur 100% de son parent */
  padding: 1em;                 /* on décolle le contenu du bord */
  overflow: auto; 
  display:none;
}

#lateral-panel-input:checked ~ #lateral-panel-label {
  left: -100%;                     /* décalage vers la droite, passe de 100% à 200% */
}   
#lateral-panel-input:checked ~ #lateral-panel-bloc {
  transform: translateX(-100%);    /* translation vers la droite de 100% */
}

#lateral-panel-label,
#lateral-panel-bloc {
  font-size: inherit;             /* taille font du référent */
  background: #FFF;               /* il faut un fond opaque */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all .01s;
}

#zoom {
  width : 98%;
  transform: translateX(2%); 
}

#top-right-buttons{
  display : flex; 
  flex-direction: row;
}

#modify-planning-modal{
  z-index: 1056;
}

#input-container-onWhite-appointmenttime{
  display:flex; 
  flex-direction: row;
}

#displayCategory{
  opacity:0.7; 
}

#button-top-right{
  max-height: 75%;
  box-shadow:rgba(149, 157, 165, 0.5) 0px 8px 24px; ;
  margin-bottom: 20px;
}

.header-ressource{
  display:flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 1.75em;
  font-family: 'Nunito', sans-serif;
}