
    
<form action='new' method="POST" > 


    <div> 
        <label for="name"> Name </label>
        <input type="text" name="name"> 

    <!-- input circuit type  -->


        <fieldset id="fs-add-activity">
            <legend>Choisissez les activités de votre parcours</legend>
        
            <div id="select-container"> 
            
                <select style="display:none;" class="select-activity-sample" class="slct-add-activity" > 

                    {% for activity in activities %} 
                        <option value="{{ activity.id }}"> {{ activity }} </option>
                    {% else %}
                        <p> Pas d'activités créées ! </p>
                    {% endfor %}

                </select>


            </div>

            <button type="button" id='btn-add-activity' onclick="handleAddActivity()"> <b> Ajouter </b> </button> 

        </fieldset>

    </div>
    
    <!--<button onclick="sendPostRequest()" type = "submit" class="btn-valide btn-secondary">Valider</button>-->
    <button onclick="sendPostRequest()" type = "submit" class="btn-valide btn-secondary">Valider</button>
    
</form>