    <!-- add-patient-modal -->

<div class="modal" id="add-pathway-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Ajouter un parcours</h2>
            </div>
            <form action="{{ path('PathwayAdd') }}" method="post">
                <div class="modal-body">

                    <!-- inputs pour envoyer des json ou des valeurs au serveur sans les afficher -->
                    <input type="hidden" id="json-resources-by-activities" name="json-resources-by-activities" >
                    <input style="display:none;" name="nbactivity" id="nbactivity">

                    <div class="flex-col"> 
                        <label class="label" for='name'> Nom du parcours </label>        
                        <input class="input" id='pathwayname' type='text' name='pathwayname' onchange='disableSubmit()'>
                    </div>

                    <fieldset id="fs-add-activity">
                        <h4>Choisissez les activités de votre parcours</h4>
                
                        {# div dans laquelle on ajoutera les activités : #}
                        <div class="activities-container"> 
                        </div>

                        <button type="button" id='btn-add-activity' onclick="handleAddActivity()"> <b> Ajouter une activité </b> </button> 

                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-delete btn-secondary" onclick="hideNewModalForm()">Annuler</button>
                    <button type='button' onclick="verifyChanges()" class="btn-consult btn-secondary"> Verrouiller les modifications  </button>
                    <button id='submit' type="submit" class="btn-valide btn-secondary" disabled> Ajouter </button>
                </div>
    	    </form>
        </div>
    </div>
</div>
