<div class="modal" id="edit-pathway-modal-activities">
    <div class="modal-dialog" style="max-height:800px; max-width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id='title-pathway-activities'></h1>
                <br>
            </div>
            <div class="modal-body">
                <div id='divContent' class="wrapper">
                </div>
            </div>
        </div>
    </div>
</div>