    <!-- add-patient-modal -->

<div class="modal" id="add-pathway-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Ajouter un parcours</h2>
            </div>
            <form action="{{ path('PathwaysPost') }}" method="post">
                <div class="modal-body">
                    <!-- input invisible (juste pour passer le nb d'activité dans la requete -->
                    <input style="display:none;" name="nbactivity" id="nbactivity">

                    <div class="flex-col"> 
                        <label class="label" for='name'> Nom du parcours </label>        
                        <input class="input" id='pathwayname' type='text' name='pathwayname' onchange='disableSubmit()'>
                    </div>

                    <fieldset id="fs-add-activity">
                        <h4>Choisissez les activités de votre parcours</h4>
                
                        <div class="activities-container"> 
                            {#<select style="display:none;" class="select-activity-sample" class="slct-add-activity" > 

                                {% for activity in activities %} 
                                    <option value="{{ activity.id }}"> {{ activity }} </option>
                                {% else %}
                                    <p> Pas d'activités créées ! </p>
                                {% endfor %}

                            </select>#}

                           <!-- <div class="div-activity-0" >
                                <p class="label">Activité : </p>
                                <div class="activity-field">
                                    <input class="input-name" placeholder="Nom" onchange="disableSubmit()">
                                    <img src="img/edit.svg" id="img-0" onclick="editSelect(this.id)">
                                    <img src="img/delete.svg" id="img-0" onclick="deleteSelect(this.id)">
                                </div>


                                <div class="div-edit-activities" id="div-edit-activity-0" >
                                    <div class="div-buttons-resources">                    
                                        <button type="button"> Humaines </button>
                                        <button type="button"> Materielles </button> 
                                    </div>

                                    <div class="div-resources"> 
                                        <div class="div-resources-h"> 
                                    
                                        </div>
                                        <div class="div-resources-m"> 
                                    
                                        </div>
                                    </div>

                                    <p> Ajouter une ressource </p>
                                    <div class="div-add-resources"> 
                                        <select> 
                                            <option> Ressource 1 </option>
                                            <option> Ressource 2</option>
                                            <option> Ressource 3</option>
                                            <option> Ressource 4</option>
                                        </select>
                                        <input type="number"> </input>
                                        <button type="button"> + </button>
                                    </div>
                                </div>


                            </div>-->

                        </div>
                        <button type="button" id='btn-add-activity' onclick="handleAddActivity()"> <b> Ajouter </b> </button> 

                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-delete btn-secondary" onclick="hideNewModalForm()">Annuler</button>
                    <button type='button' onclick="verifyChanges()" class="btn-consult btn-secondary"> Verrouiller les modifications  </button>
                    <button id='submit' type="submit" class="btn-valide btn-secondary" disabled> Ajouter </button>
                </div>
    	    </form>
        </div>
    </div>
</div>
