    <!-- add-patient-modal -->

<div class="modal" id="add-pathway-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Ajouter un parcours</h2>
            </div>
            <form action="{{ path('PathwaysPost') }}" method="post">
                <div class="modal-body">
                    <!-- input invisible (juste pour passer le nb d'activité dans la requete -->
                    <input style="display:none;" name="nbActivity" id="nbActivity">

                    <div class='flex-row'>
                        <div class="form-field-label flex-col">
                            <label for='name'> Nom du parcours </label>
                            <label for='target'> Nombre de fois par jour ciblé </label>
                        </div>

                        <div class="form-field-input flex-col">
                            <input type='text' name='pathwayname'>
                            <input type='text' name='target'>
                        </div>
                    </div> 

                    <fieldset id="fs-add-activity">
                        <legend>Choisissez les activités de votre parcours</legend>
                
                        <div id="select-container"> 
                            <select style="display:none;" class="select-activity-sample" class="slct-add-activity" > 

                                {% for activity in activities %} 
                                    <option value="{{ activity.id }}"> {{ activity }} </option>
                                {% else %}
                                    <p> Pas d'activités créées ! </p>
                                {% endfor %}

                            </select>
                        </div>
                        <button type="button" id='btn-add-activity' onclick="handleAddActivity()"> <b> Ajouter </b> </button> 

                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-consult btn-secondary" onclick="hideNewModalForm()">Annuler</button>
                    <button type="submit" class="btn-valide btn-secondary"> Ajouter </button>
                </div>
    	    </form>
        </div>
    </div>
</div>
