{% block body %}

<div class="modal" id="edit-pathway-modal-activities">
    <div class="modal-dialog" style="max-height:800px; max-width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id='title-pathway-activities'></h1>
                Pour créer un lien, double-cliquez sur une activité puis sur une autre
            </div>
            <div class="modal-body" id="modal-body-graph">
                <div id='divContent' class="wrapper-graph">
                </div>
                <div id="activities-list-graph">
                    <div style="display:flex">
                        <h5 class="title"><label id="name" class="label" for='name'> Liste des liens </label></h5> 
                    </div>
                    <div id="list-graph"></div>
                    <button type="button" id="btn-delete-successors" class="btn-delete btn-secondary" onclick="deleteSuccessors()">Tout supprimer</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-delete btn-secondary" onclick="hideActivitiesPathway()">Annuler</button>
                <button id='activities-submit' type="submit" class="btn-valide btn-secondary">Valider</button>
            </div>
        </div>
    </div>
</div>

<script>
$('#edit-pathway-modal-delay').on('hidden.bs.modal', function () {
    showActivitiesPathway();
});
</script>

{% endblock %}