
{# modal window for listing the appointments who are scheduled for the pathway #}

<div class="modal" id="pathway-modal-scheduled-appointments">
    <div id="scheduled-appointments-pathway" class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" >
                <h2 class="modal-title">Rendez vous prévus</h2>
            </div>

            <div class="modal-body">
               

             
            
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-delete btn-secondary" onclick="closeScheduledAppointmentsModal()">Fermer</button>
            </div>

        </div>
    </div>
</div>