<div class="modal" id="infos-pathway-modal" style="overflow-y: scroll;">
    <div class="modal-dialog" style="max-height:95%; max-width:95%;">
        <div class="modal-content">
            <div id="main_content">
                <li class="selected" id="activities" onclick="change_tab(this.id);">Activités</li>
                <li class="notselected" id="appointments" onclick="change_tab(this.id);">Rendez-vous prévus</li>
            </div>
            <div id="pathway-activities">
                <div class="modal-header">
                    <h1 id='pathway1'></h1>
                    <br>
                </div>
                <div class="modal-body" id="modal-body-infos">
                <div id="load-path"></div>
                    <div id="modal-br"></div>
                    <div class="wrapper" id='divContent'>
                        
                    </div>
                </div>
            </div>
            <div id="pathway-appointments">
                <div class="modal-header">
                    <h1 id='pathway2'></h1>
                    <br>
                </div>
                <div class="modal-body">
                    <table class="table table-striped" id="tableShow">
                        <thead>
                            <tr>
                                <th>Nom du patient</th>
                                <th>Jour du rendez-vous </th>
                            </tr>
                        </thead>
                        <tbody id="tbodyShow">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
