<div class="modal" id="infos-pathway-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
    <h1>Parcours</h1>

    <table class="table table-striped">
        <tbody>
            <tr> 
                <th>Identifiant</th>
                <td id ="pathway-id"></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td id ="pathway-name"></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
