
<!-- add-appointment-modal -->

        <link href="js/jquery-ui/jquery-ui.css" rel="stylesheet">
        <script src="js/jquery-ui/external/jquery/jquery.js"></script>
        <script src="js/jquery-ui/jquery-ui.js"></script>    

<div class="modal" id="add-appointment-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Ajouter un rendez-vous</h2>
      </div>
      <form action="{{ path('AppointmentAdd') }}" method="post">
        <div class="modal-body">
          <div class="flex-col">
            <label class="label" for='idpatient'> Patient </label>
            <input type="hidden" id="patientValues" name="patientValues" value={{patientsJSON.content}} />
            <input class="input" type="text" id="autocompletePatientAdd" name="patient" required/>
          </div>
          </br>
          <div class="flex-col">
            <label class="label" for='idpathway'> Parcours </label>
            <input type="hidden" id="pathwayValues" name="pathwayValues" value={{pathwaysJSON.content}} />
            <input class="input" type="text" id="autocompletePathwayAdd" name="pathway"  required/>
          </div>
          </br>
          <div class="flex-col">
            <label class="label" for='dayappointmentlabel'> Jour du rendez-vous </label>
            <input class="input" id="dateSelected" value="Cliqez pour selectionner une date" name='dayappointment' onclick="openDayModale('new')" required>
          </div>
          </br>
          <div class="flex-col">
            <label class="label" for='earliestappointmenttime'> Heure d'arrivée au plus tôt </label>
            <input class="input" type='time' name='earliestappointmenttime' required="required">
          </div>
          </br>
          <div class="flex-col">
            <label class="label" for='latestappointmenttime'> Heure de fin au plus tard </label>
            <input class="input" type='time' name='latestappointmenttime' required="required">
          </div>
          </br>
          <div class="modal-footer">
            <button type="button" class="btn-delete btn-secondary" onclick="hideNewModalForm()">Annuler</button>
            <button type="submit" class="btn-valide btn-secondary"> Ajouter </button>
          </div>
        </div>
	    </form>
    </div>
  </div>
</div>
<script>
$( "#autocompletePatientAdd" ).autocomplete({
	source: autocompleteArray
});
$( "#autocompletePathwayAdd" ).autocomplete({
	source: tagsPathways
});
</script>