<!-- edit-appointment-modal -->

<link href="js/jquery-ui/jquery-ui.css" rel="stylesheet">
<script src="js/jquery-ui/external/jquery/jquery.js"></script>
<script src="js/jquery-ui/jquery-ui.js"></script>

<div class="modal" id="edit-appointment-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Modifier un rendez-vous</h2>
			</div>
			<form action="{{ path('AppointmentEdit') }}" method="post">
				<div class="modal-body">
					<div>
						<input type="hidden" name="idappointment" id="idappointment">
						<label for='idpatient'>
							Patient
						</label>
						<input type="hidden" id="patient" name="patient" value={{patientsJSON.content}}/>
						<input class="input" type="text" id="autocompletePatientEdit" name="patient"/>
					</div>
				</br>
				<div class="flex-col">
					<label class="label" for='idpathway'>
						Parcours
					</label>
					<input type="hidden" id="pathway" name="pathway" value={{pathwaysJSON.content}}/>
					<input class="input" type="text" id="autocompletePathwayEdit" name="pathway"/>
				</div>
			</div>

		</br>
		<div>
			<label for='dayappointment'>
				Jour du rendez-vous
			</label>
			<input class="input" id="dayAppointment" type='date' name='dayappointment' disabled required>
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px" fill="#00000" onclick="openDayModale('edit')">
				<path d="M0 0h24v24H0z" fill="none"/>
				<path d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z"/></svg>
		</div>
	</br>
	<div>
		<label for='earliestappointmenttime'>
			Heure d'arrivé au plus tôt
		</label>
		<input type='time' name='earliestappointmenttime' class="input" id='earliestappointmenttime'>
	</div>
</br>
<div>
	<label for='latestappointmenttime'>
		Heure d'arrivé au plus tard
	</label>
	<input type='time' name='latestappointmenttime' class="input" id='latestappointmenttime'></div></br><div class="modal-footer">
<button type="button" class="btn-delete btn-secondary" onclick="hideEditModalForm()">Annuler</button>
<button type="submit" class="btn-valide btn-secondary">
	Modifier</button></div></div></form></div></div></div>
    <script>$("#autocompletePatientEdit").autocomplete({source: tagsPatients});
$("#autocompletePathwayEdit").autocomplete({source: tagsPathways});</script>
