<!-- edit-appointment-modal -->

<link href="js/jquery-ui/jquery-ui.css" rel="stylesheet">
<script src="js/jquery-ui/external/jquery/jquery.js"></script>
<script src="js/jquery-ui/jquery-ui.min.js"></script>

<div class="modal" id="edit-appointment-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Modifier un rendez-vous</h2>
			</div>
			<form action="{{ path('AppointmentEdit') }}" method="post">
				<div class="modal-body">
					<div style="color: red;" id="wrong-edit-input" style="visibility:hidden"></div>
					<div class="flex-col">
						<input type="hidden" name="idappointment" id="idappointment">
						<label for='idpatient'>Patient</label>
						<input type="hidden" id="patient" name="patient" value="{{patientsJSON.content}}"/>
						<input type="hidden" id="patient-name" name="patient-name"/>
						<input class="input" type="text" id="autocompletePatientEdit" name="patient" disabled/>
					</div>
				</br>
				<div class="flex-col">
					<label class="label" for='idpathway'>Parcours</label>
					<input type="hidden" id="pathway" name="pathway" value="{{pathwaysJSON.content}}"/>
					<input class="input" type="text" id="autocompletePathwayEdit" name="pathway" disabled/>
					<input type="hidden" type="text" id="pathway-hidden" name="pathway-hidden"/>
				</div>
			</br>
			<div class="flex-col">
				<input class="input" id="dayAppointment" name='dayappointment' onclick="openDayModale('edit')" hidden>
			</div>
		</br>
		<div class="flex-col">
			<label for='earliestappointmenttime'>
				Heure d'arrivé au plus tôt
			</label>
			<input type='time' name='earliestappointmenttime' class="input" id='earliestappointmenttime'>
		</div>
	</br>
	<div class="flex-col">
		<label for='latestappointmenttime'>
			Heure d'arrivé au plus tard
		</label>
		<input type='time' name='latestappointmenttime' class="input" id='latestappointmenttime'></div>
</br></div><div class="modal-footer">
<button type="button" class="btn-delete btn-secondary" onclick="hideEditModalForm()">Annuler</button>
<button type="submit" class="btn-valide btn-secondary">Modifier</button></div></div></form></div></div></div><script>$("#autocompletePatientEdit").autocomplete({source: tagsPatients});
$("#autocompletePathwayEdit").autocomplete({source: tagsPathways});</script>
