<!-- select-day-modal -->
<link href="js/jquery-ui/jquery-ui.css" rel="stylesheet">
        <script src="js/jquery-ui/external/jquery/jquery.js"></script>
        <script src="js/jquery-ui/jquery-ui.js"></script>    
		<script src="js/popper.min.js" integrity="sha384-AnJFx41Yd4u7+19IurgGio8EHUpltdLG4I2EpjNGAf+LR66YPbFvorbP564+IWuf sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
		<script src="js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
<div class="modal" id="select-day-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Choisir un jour pour le rendez-vous</h2>
			</div>
			<div class="modal-body">
            
                <input class="input" type='hidden' name='dayappointment' id="dateTemp" disabled required>
				<div id="load"></div>
				<div id="calendar-container" class="calendar-container">

					
					<!-- affichage du calendar -->
					<div id='calendar-appointment'></div>
				</div>
                <button type="button" id="buttonCancel" class="btn-delete btn-secondary" >Annuler</button>
				<button type="button" id="buttonSelect" class="btn-valide btn-secondary" disabled style="background-color:grey; border : 1px solid grey;">
					Selectionner
				</button>
			</div>
		</div>
	</div>
</div>

