<!-- select-day-modal -->
<link href="js/jquery-ui/jquery-ui.css" rel="stylesheet">
        <script src="js/jquery-ui/external/jquery/jquery.js"></script>
        <script src="js/jquery-ui/jquery-ui.js"></script>    
		<script src="js/popper.min.js" integrity="sha384-AnJFx41Yd4u7+19IurgGio8EHUpltdLG4I2EpjNGAf+LR66YPbFvorbP564+IWuf sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
		<script src="js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>
<div class="modal" id="select-day-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Choisir un jour pour le rendez-vous</h2>
			</div>
			<div class="modal-body">
            
                <input class="input" type='hidden' name='dayappointment' id="dateTemp" disabled required>
				<input class="input" type='hidden' name='pathwayHidden' id="pathwayHidden" required>
				<div id="load"></div>
				<button id="previousButton" class="btn-calendar-edit" onclick="PreviousMonth()" title="Aller au precedent mois">
				<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
			</button>
			<button class="btn-calendar-edit" onclick="Today()" title="Aller à aujourd'hui">Aujourd'hui</button>
			<button id="previousButton" class="btn-calendar-edit" onclick="NextMonth()" title="Aller au mois suivant">
				<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
			</button>
				<div id="calendar-container" class="calendar-container">
					<!-- affichage du calendar -->
					<div id='calendar-appointment'></div>
				</div>
                <button type="button" id="buttonCancel" class="btn-delete btn-secondary" >Annuler</button>
				<button type="button" id="buttonSelect" class="btn-valide btn-secondary" disabled style="background-color:grey; border : 1px solid grey;">
					Selectionner
				</button>
			</div>
		</div>
	</div>
</div>

