<!-- show-appointment-modal -->
<link href="js/jquery-ui/jquery-ui.css" rel="stylesheet">
        <script src="js/jquery-ui/external/jquery/jquery.js"></script>
        <script src="js/jquery-ui/jquery-ui.js"></script>    
		<script src="js/popper.min.js" integrity="sha384-AnJFx41Yd4u7+19IurgGio8EHUpltdLG4I2EpjNGAf+LR66YPbFvorbP564+IWuf sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
		<script src="js/bootstrap/bootstrap.min.js" integrity="sha384-3nhVhzgkAiK+aRAouB5S914cEx9yGFCeToSirPZfaTPyy6g+RbDkzkmojJymfCBY sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 sha256-SUzPu+ewjZCj6CtwVs9sNh6Q/LMFi1w1RZ9TxpKmVkE=" crossorigin="anonymous"></script>


<div class="modal" id="infos-appointment-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="infos-appointment-title"></h2>
			</div>

			<div class="modal-body">
				<div id="load-info-appt"></div>
				<div id="infos-appointment-unscheduled" hidden>Le rendez-vous n'a pas encore été plannifié.</div>
				<div id='calendar-infos-appointment' style="width: 100%"></div>
			</div>


		</div>
	</div>
</div>
