<!-- show-appointment-modal -->

<link href="js/jquery-ui/jquery-ui.css" rel="stylesheet">
<script src="js/jquery-ui/external/jquery/jquery.js"></script>
<script src="js/jquery-ui/jquery-ui.js"></script>

<div class="modal" id="infos-appointment-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Information RDV</h2>
			</div>

			<div class="modal-body">
				<table>
					<tr>
						<th>Nom</th>
						<td id='val1'></td>
					</tr>
					<tr>
						<th>Prenom</th>
						<td id='val2'></td>

					</tr>
					<tr>
						<th>Parcours</th>
						<td id='val3'></td>
					</tr>
					<tr>
						<th>Date RDV</th>
						<td id='val4'></td>
					</tr>
				</table>

			</div>


		</div>
	</div>
</div>
