<div class="modal" id="divPopup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Attention</h2>
            </div>
                <div class="modal-body">
                    <p>Etes vous toujours en train d'effectuer des modifications ?<br>
                    Sans action de votre part, vos modifications ne seront pas prises en compte.</p>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Oui, je modifie toujours" onclick="closePopup()" class="btn-valide btn-secondary" style="float:right; margin-right:10px;"/>
                </div>
        </div>
    </div>
</div>