{% extends 'base.html.twig' %}

{% block title %}Listing des utilisateurs{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('CSS/User/IndexUser.css') }}">
        {% endblock %}
{% block body %}
    <div id = "index-users">
</div>

{% endblock %}