{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle ressource{% endblock %}
        {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
        {% endblock %}

{% block body %}
<div id = "add-form">
<div id = "container">
    <h1 id ="title" >Créer une nouvelle ressource</h1>

    {{ include('resource/_form.html.twig') }}

    <button class="btn-consult btn-secondary" onclick="window.location.href='{{ path('app_resource_index') }}'">Consulter les ressources</button>
</div>
</div>
{% endblock %}
