<div class="modal" id="infos-resource-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Informations de la ressource</h1>
            </div>

            <div id="modal-body"> 
                <div id ="show-user">

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td id="resource-id"> </td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td id="resource-name"> </td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td id="resource-type"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>