

div#box
{
  width: 300px;
  
  border: 15px solid #00305d;
 
    
    text-align: center;  

}
form
{
    
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

p {
    color: red;
  }

  submit_button{
    
    margin-left: auto;
    margin-right: auto;
  }
  