{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau type de circuit{% endblock %}
        {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('CSS/Global/NewCrud.css') }}">
        {% endblock %}

{% block body %}
<div id = "add-form">
<div id = "container">
    <h3>Ajouter un nouveau type de circuit</h3>

   {{ include('circuit_type/_form.html.twig') }}
    <button class="btn-consult btn-secondary" onclick="window.location.href='{{ path('app_circuit_type_index') }}'">Consulter les types de circuit</button>
</div>
</div>
{% endblock %}
