		<div class="modal" id="add-user-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Ajouter un utilisateur</h2>
					</div>
					<form action="{{ path('UserAdd') }}" method="post">
						<div class="modal-body">
							<div>
								<label for='username'>
									Nom d'utilisateur
								</label>
								<input type='text' required="required" name='username'>
							</div>

							<div>
								<label for='password'>
									Mot de passe Temporaire
								</label>
								<input type='password' required="required" name='password'>
							</div>
							<div>
								<label for='role'>
									Roles
								</label>
								<select name="role" id="role">
									<option value="">--Choissisez le role de l'utilisateur--</option>
									<option value="Admin">Admin</option>
									<option value="Editeur">Editeur</option>
									<option value="Visiteur">Visiteur</option>

								</select>
							</div>


							<br>

                            <button type="button" class="btn-delete btn-secondary" onclick="hideNewModalForm()">Annuler</button>
							<button type="button" class="btn-consult btn-secondary" onclick="window.location.href='{{ path('User') }}'">Consulter les utilisateurs</button>
							<button type="submit" class="btn-valide btn-secondary">
								Ajouter
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>