<div class="modal" id="modal-change">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Attention</h2>
			</div>
			<div class="modal-body">
				<p>Voulez vous vraiment changer de simulation ?<br></p>
			</div>
			<div class="modal-footer">
				<button id="change-test-button" onclick="" class="btn-valide btn-secondary" style="float:right; margin-right:10px;">Oui</button>
				<button type="button" onclick="$('#modal-change').modal('hide');" class="btn-delete btn-secondary" style="float:right; margin-right:10px;">Annuler</button>
			</div>
		</div>
	</div>
</div>
